@model OnlineScoping.ViewModels.QuestionnaireViewModel
@{
    ViewData["Title"] = "UpdateAllQuestionnaires";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var a = 0;
    var Index = 0;
}
<style>
    .ActionMode a {
        color: #0366d6 !important;
    }

    .security-scoping-card .card-title {
        margin-bottom: 0
    }

    .n-chk.custom-control.picker-2.col-md-10.ml-5.mb-3 {
        padding-left: 80px;
    }

    .New_Input.custom-control.picker-2.col-md-10.ml-5.mb-3 {
        padding-left: 85px;
    }

    .custom-control.custom-radio.mb-3.ml-100.col-md-10.no-padding {
        padding-left: 60px;
    }
</style>
<div class="page-top col-md-12">

    <div class="row">
        <div class="col-md-4">
            <h3 class="pt-3">
                Update Scope
            </h3>
        </div>
        <div class="col-md-8">
            <nav class="breadcrumb-two" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="EditAllQuestionnaires">Scope</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Update Scope</a></li>
                </ol>
            </nav>
        </div>




    </div>
    @if (TempData["UpdateSingleQuestion"] != null)
    {
        <div style="margin: 0% 0% 0% 65%;" class="alert alert-success mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Success!</strong> @TempData["UpdateSingleQuestion"]  </div>
    }
    @if (TempData["UpdateSingleQuestionError"] != null)
    {
        <div style="margin: 0% 0% 0% 70%;" class="alert alert-danger mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Error!</strong> @TempData["UpdateSingleQuestionError"]  </div>
    }

    @if (TempData["DeleteSingleQuestion"] != null)
    {
        <div style="margin: 0% 0% 0% 65%;" class="alert alert-success mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Success!</strong> @TempData["DeleteSingleQuestion"]  </div>
    }
    @if (TempData["DeleteSingleQuestionError"] != null)
    {
        <div style="margin: 0% 0% 0% 70%;" class="alert alert-danger mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Error!</strong> @TempData["DeleteSingleQuestionError"]  </div>
    }
    @if (TempData["EquestSuccesMessage"] != null)
    {
        <div style="margin: 0% 0% 0% 65%;" class="alert alert-success mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Success!</strong> @TempData["EquestSuccesMessage"]  </div>
    }

    @if (TempData["DragAndDropErrorMessage"] != null)
    {
        <div style="margin: 0% 0% 0% 70%;" class="alert alert-danger mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Error!</strong> @TempData["DragAndDropErrorMessage"]  </div>
    }
    @if (TempData["DragAndDropSuccesMessage"] != null)
    {
        <div style="margin: 0% 0% 0% 65%;" class="alert alert-success mb-4 delayMsg" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Success!</strong> @TempData["DragAndDropSuccesMessage"]  </div>
    }
</div>

<div class="card component-card_1 security-scoping-card mt-5">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-8 text-left">
                <h5 class="card-title align-self-center">@Model.QuestionnaireData.Name</h5>
                @*<a data-toggle="modal" class="ActionMode" style="font-size: 15px; cursor: pointer; padding-top: 12px; padding-left: 6px;" aria-expanded="false" data-target="#QuestionnaireDataUpdateModel" data-placement="top" title="Edit" onclick="BindQuestionnaireData('@Model.QuestionnaireData.QuestionnaireId','@Model.QuestionnaireData.Name')"> <em class="fas fa-pencil-alt"></em></a>*@
            </div>
            <div class="col-md-2 text-right align-self-center"><label>Select Mode</label></div>
            <div class="col-md-2 text-right align-self-center">

                <select id="mySelect" class="form-control form-control" onchange="BothMode()">
                    <option value="View" selected>View</option>
                    <option value="Edit">Edit</option>
                </select>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12 text-left">

                <a asp-action="CretaeEquestion" asp-controller="Questionnaire" asp-route-id="@Model.QuestionnaireId" class=" btn btn-primary float-right ActionMode" id="btncal"> Manage Equations</a>


                <a class="btn btn-primary float-right ActionMode mx-3 " data-toggle="modal" style="cursor:pointer" aria-expanded="false" data-target="#QuesAddNewModel" data-placement="top" title="Edit" onclick="BindNewQues('@Model.QuestionnaireId')">Create New Question</a>
            </div>
        </div>

        @if (Model.EquestionViewModelData != null)
        {
            <h5 class="mb-3 text-left mr-5 col-md-10">Days Equestion : <b>@Model.EquestionViewModelData.DaysEquestion</b></h5>
            <h5 class="mb-3  text-left mr-5 col-md-10">Cost Equestion : <b>@Model.EquestionViewModelData.CostEquestion</b></h5>
            <h5 class="mb-3 text-left mr-5 col-md-10">Requirment Equestion : <b>@Model.EquestionViewModelData.RequirmentEquestion</b></h5>

        }
        else
        {
            <h5 class="mb-4  text-left mr-5 col-md-10">Days Equestion : <b></b></h5>

            <h5 class="mb-4  text-left mr-5 col-md-10">Cost Equestion : <b></b></h5>

            <h5 class="mb-4  text-left mr-5 col-md-10">Requirment Equestion : <b></b></h5>

        }

        <form asp-action="UpdateAllQuestionnaires" method="post" autocomplete="off">
            <input type="hidden" asp-for="@Model.QuestionnaireId" />

            <div class="w-100 carousel-inner" role="listbox">



                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    Index = i + 1;

                    <input type="hidden" asp-for="@Model.Questions[i].QuestionId " />
                    <input type="hidden" asp-for="@Model.Questions[i].QuestionnaireId" />

                    <div id="@Model.Questions[i].QuestionNumber">
                        <div>
                            <div>


                                <div class="row">

                                    <div class="form-group col-md-12 ">
                                        <div id="@Model.Questions[i].QuestionId" class="droppable">
                                            @*<div>*@
                                            <h3 class="mb-4 text-left mr-5 col-md-10"> <b>@Model.Questions[i].Title</b></h3>
                                            <h5 class="mb-4 text-left mr-5 col-md-10"> <b>@Model.Questions[i].SubTitle</b></h5>
                                            @if (Model.Questions[i].QuestionId == new Guid("479B47D8-743E-4BF5-B1CE-3D8AAE294A46"))
                                            {


                                                if (a == 0)
                                                {
                                                    <h5 class="mb-4 text-left mr-5 col-md-10" style="display: -webkit-inline-box;">
                                                        <b>@Index</b> . @Model.Questions[i].QuestionText <span style="color:red">(VARIABLE=@Model.Questions[i].VariableName)</span><span class="ActionMode">
                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#QuesUpdateModel" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].QuestionId', '@Model.QuestionnaireId', '@Model.Questions[i].QuestionText', '')"> <em class="fas fa-pencil-alt"></em></a> |
                                                            <a asp-action="DeleteSingleQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].QuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a>
                                                            @*<a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','@Model.Questions[i].QuestionText','')"> <em class="fa fa-plus" aria-hidden="true"></em></a>*@
                                                        </span>
                                                    </h5>
                                                }
                                                a++;
                                            }
                                            else
                                            {
                                                @if (Model.Questions[i].QuestionNumber == "-" || Model.Questions[i].QuestionNumber == "")
                                                {
                                                    <h5 class="mb-4 text-left mr-5 col-md-10" style="display: -webkit-inline-box;">
                                                        @Index  @Model.Questions[i].QuestionText
                                                        <span style="color:red">(VARIABLE=@Model.Questions[i].VariableName)</span>
                                                        <span class="ActionMode">
                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#QuesUpdateModel" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].QuestionId', '@Model.QuestionnaireId', '@Model.Questions[i].QuestionText','')"> <em class="fas fa-pencil-alt"></em></a> |
                                                            <a asp-action="DeleteSingleQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].QuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a> |
                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#SubQuesAddNewModel" data-placement="top" title="Edit" onclick="BindSubQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','')"> <em class="fa fa-plus" aria-hidden="true"></em></a>
                                                        </span>
                                                    </h5>

                                                }
                                                else
                                                {
                                                    if (Model.Questions[i].QuestionType == QuestionType.MultipleCheckType)
                                                    {
                                                        <h5 id="@Model.Questions[i].QuestionId" class="mb-4 ml-5 text-left mr-5 col-md-10 draggable" style="display: -webkit-inline-box;">
                                                            <span><b>@Index</b>.@Model.Questions[i].QuestionText <span style="color:red">(VARIABLE=@Model.Questions[i].VariableName)</span></span>
                                                            <span class="ActionMode">
                                                                <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#MulQuesUpdateModel" data-placement="top" title="Edit" onclick="MulTypeBindQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','@Model.Questions[i].QuestionText','Question','@Model.Questions[i].isMandatory.ToString().ToLower()')"> <em class="fas fa-pencil-alt"></em></a> |
                                                                <a asp-action="DeleteSingleQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].QuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a> |
                                                                <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#SubQuesAddNewModel" data-placement="top" title="Edit" onclick="BindSubQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','')"> <em class="fa fa-plus" aria-hidden="true"></em></a>
                                                            </span>
                                                        </h5>
                                                    }
                                                    else
                                                    {
                                                        <h5 id="@Model.Questions[i].QuestionId" class="mb-4 ml-5 text-left mr-5 col-md-10 draggable" style="display: -webkit-inline-box;">
                                                            <span><b>@Index</b>.@Model.Questions[i].QuestionText <span style="color:red">(VARIABLE=@Model.Questions[i].VariableName)</span></span>
                                                            <span class="ActionMode">
                                                                <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#QuesUpdateModel" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].QuestionId', '@Model.QuestionnaireId', '@Model.Questions[i].QuestionText','','@Model.Questions[i].isMandatory.ToString().ToLower()')"> <em class="fas fa-pencil-alt"></em></a> |
                                                                <a asp-action="DeleteSingleQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].QuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a> |
                                                                <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#SubQuesAddNewModel" data-placement="top" title="Add" onclick="BindSubQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','')"> <em class="fa fa-plus" aria-hidden="true"></em></a>
                                                            </span>
                                                        </h5>
                                                    }

                                                    <!--<h5 id="@Model.Questions[i].QuestionId" class="mb-4 ml-5 text-left mr-5 col-md-10 draggable" style="display: -webkit-inline-box;">-->
                                                    @*<h5 class="mb-4 ml-5 text-left mr-5 col-md-10 " style="display: -webkit-inline-box;">*@
                                                    <!--<span><b>@Index</b>.@Model.Questions[i].QuestionText <span style="color:red">(VARIABLE=@Model.Questions[i].VariableName)</span></span>
                                                        <span class="ActionMode">
                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#QuesUpdateModel" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','@Model.Questions[i].QuestionText','')"> <em class="fas fa-pencil-alt"></em></a> |
                                                            <a asp-action="DeleteSingleQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].QuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a> |
                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#SubQuesAddNewModel" data-placement="top" title="Edit" onclick="BindSubQues('@Model.Questions[i].QuestionId','@Model.QuestionnaireId','')"> <em class="fa fa-plus" aria-hidden="true"></em></a>
                                                        </span>
                                                    </h5>-->
                                                }


                                            }
                                            @if (Model.Questions[i].QuestionType == QuestionType.multipleResponseType)
                                            {

                                                @for (var k = 0; k < Model.Questions[i].OptionsList.Count; k++)
                                                {
                                                    if (k == 0)
                                                    {
                                                        <div class="custom-control custom-radio mb-3 ml-100 col-md-10 no-padding">
                                                            <input type="radio" asp-for="@Model.Questions[i].ResponseOptionId" id="@Model.Questions[i].OptionsList[k].OptionId" value="@Model.Questions[i].OptionsList[k].OptionId" class="custom-control-input" checked>
                                                            <label class="custom-control-label" for="@Model.Questions[i].OptionsList[k].OptionId"> @Model.Questions[i].OptionsList[k].OptionText</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="custom-control custom-radio mb-3 ml-100 col-md-10 no-padding">
                                                            <input type="radio" asp-for="@Model.Questions[i].ResponseOptionId" id="@Model.Questions[i].OptionsList[k].OptionId" value="@Model.Questions[i].OptionsList[k].OptionId" class="custom-control-input">
                                                            <label class="custom-control-label" for="@Model.Questions[i].OptionsList[k].OptionId"> @Model.Questions[i].OptionsList[k].OptionText</label>
                                                        </div>
                                                    }

                                                }
                                            }
                                            else if (Model.Questions[i].QuestionType == QuestionType.DateTimeType)
                                            {
                                                <div>
                                                    <input class="form-control" type="text">
                                                </div>
                                            }
                                            else if (Model.Questions[i].QuestionType == QuestionType.TextType)
                                            {

                                                @if (Model.Questions[i].InputType == 1)
                                                {
                                                    <div class="ml-5 mr-5 col-md-10 no-padding NumberMsgp">
                                                        <input type="text" asp-for="@Model.Questions[i].QuestionValue" class="form-control" onkeypress="return isNumber(event)" autocomplete="off" onpaste="return false;">
                                                        <label class="control-label" for="@Model.Questions[i].QuestionValue"></label>
                                                        <span class="text-danger NumberMsg "></span>
                                                        <span asp-validation-for="@Model.Questions[i].QuestionValue" class="text-danger"></span>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="ml-5 mr-5 col-md-10 no-padding">
                                                        <input type="text" asp-for="@Model.Questions[i].QuestionValue" class="form-control" autocomplete="off">
                                                        <label class="control-label" for="@Model.Questions[i].QuestionValue"></label>
                                                        <span asp-validation-for="@Model.Questions[i].QuestionValue" class="text-danger"></span>
                                                    </div>

                                                }

                                            }
                                            else if (Model.Questions[i].QuestionType == QuestionType.MultipleCheckType)
                                            {
                                                @for (var d = 0; d < Model.Questions[i].OptionsList.Count; d++)
                                                {
                                                    if (Model.Questions[i].OptionsList[d].OptionValue == true)
                                                    {
                                                        <div class="custom-control ml-10 col-md-10 ml-5">
                                                            <input type="checkbox" asp-for="@Model.Questions[i].OptionsList[d].OptionValue" checked />
                                                            <label asp-for="@Model.Questions[i].OptionsList[d].OptionValue">@Model.Questions[i].OptionsList[d].OptionText</label>
                                                            <input type="hidden" asp-for="@Model.Questions[i].OptionsList[d].OptionId" />
                                                            <input type="hidden" asp-for="@Model.Questions[i].OptionsList[d].OptionText" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="custom-control ml-10 col-md-10 ml-5">
                                                            <input type="checkbox" asp-for="@Model.Questions[i].OptionsList[d].OptionValue" />
                                                            <label asp-for="@Model.Questions[i].OptionsList[d].OptionValue">@Model.Questions[i].OptionsList[d].OptionText</label>
                                                            <input type="hidden" asp-for="@Model.Questions[i].OptionsList[d].OptionId" />
                                                            <input type="hidden" asp-for="@Model.Questions[i].OptionsList[d].OptionText" />
                                                        </div>
                                                    }

                                                }
                                            }


                                            <div class="custom-control picker-2 col-md-10 ml-5 mb-3">
                                                <div class="row">
                                                    <label class="col-md-3" style="color: #3b3f5c; font-weight: 500;" for="@Model.Questions[i].Days">Days</label>

                                                    <input type="text" asp-for="@Model.Questions[i].Days" class="form-control col-md-8 valid" onkeypress="return isNumber(event)" autocomplete="off" onpaste="return false;">

                                                </div>
                                            </div>
                                            <div class="custom-control picker-2 col-md-10 ml-5 mb-3">
                                                <div class="row">
                                                    <label class="col-md-3" style="color: #3b3f5c; font-weight: 500;" for="@Model.Questions[i].Cost">Cost</label>

                                                    <input type="text" asp-for="@Model.Questions[i].Cost" class="form-control col-md-8 valid" onkeypress="return isNumber(event)" autocomplete="off" onpaste="return false;">

                                                </div>
                                            </div>
                                            <div class="custom-control picker-2 col-md-10 ml-5 mb-3">
                                                <div class="row">
                                                    <label class="col-md-3" style="color: #3b3f5c; font-weight: 500;" for="@Model.Questions[i].Requirement">Requirement</label>

                                                    <input type="text" asp-for="@Model.Questions[i].Requirement" class="form-control col-md-8 valid" autocomplete="off">

                                                </div>
                                            </div>
                                        </div>

                                        @if (Model.Questions[i].ChildQuestionsList.Count > 0)
                                        {
                                            @for (int j = 0; j < Model.Questions[i].ChildQuestionsList.Count; j++)
                                            {
                                                <div id="@Model.Questions[i].ChildQuestionsList[j].QuestionNumber">
                                                    <input type="hidden" asp-for="@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId" />
                                                    <input type="hidden" asp-for="@Model.Questions[i].ChildQuestionsList[j].QuestionText" />
                                                    <div class="col-md-12 qus-align">
                                                        <div class="form-row">
                                                            <div class="col-md-12">
                                                                <h6 class="mb-4 ml-5 mr-5 text-left" style="display: -webkit-inline-box;">
                                                                    <b>@Model.Questions[i].ChildQuestionsList[j].QuestionNumber</b>
                                                                    <span> . @Model.Questions[i].ChildQuestionsList[j].QuestionText</span>
                                                                    <span style="color:red">(VARIABLE=@Model.Questions[i].ChildQuestionsList[j].VariableName)</span>
                                                                    @if (Model.Questions[i].ChildQuestionsList[j].QuestionType == QuestionType.MultipleCheckType)
                                                                    {
                                                                        <span class="ActionMode">
                                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#MulQuesUpdateModel" data-placement="top" title="Edit" onclick="MulTypeBindQues('@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId', '@Model.QuestionnaireId', '@Model.Questions[i].ChildQuestionsList[j].QuestionText', 'ChieldQuestion', '@Model.Questions[i].ChildQuestionsList[j].isMandatory.ToString().ToLower()')"> <em class="fas fa-pencil-alt"></em></a> |
                                                                            <a asp-action="DeleteSingleChieldQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a>
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="ActionMode">
                                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#QuesUpdateModel" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId','@Model.QuestionnaireId','@Model.Questions[i].ChildQuestionsList[j].QuestionText','ChieldQuestion','@Model.Questions[i].ChildQuestionsList[j].isMandatory.ToString().ToLower()')"> <em class="fas fa-pencil-alt"></em></a> |
                                                                            <a asp-action="DeleteSingleChieldQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a>
                                                                        </span>
                                                                    }

                                                                    @*<span class="ActionMode">
                                                                            <a data-toggle="modal" style="font-size: 15px;cursor:pointer" aria-expanded="false" data-target="#QuesUpdateModel" data-placement="top" title="Edit" onclick="BindQues('@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId','@Model.QuestionnaireId','@Model.Questions[i].ChildQuestionsList[j].QuestionText','ChieldQuestion')"> <em class="fas fa-pencil-alt"></em></a> |
                                                                            <a asp-action="DeleteSingleChieldQuestions" asp-controller="Questionnaire" asp-route-id="@Model.Questions[i].ChildQuestionsList[j].ChildQuestionId" asp-route-QuestionnaireId="@Model.QuestionnaireId" style="font-size: 15px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this?')"> <em class="far fa-trash-alt"></em></a>
                                                                        </span>*@
                                                                </h6>
                                                            </div>

                                                            @if (Model.Questions[i].ChildQuestionsList[j].QuestionType == QuestionType.multipleResponseType)
                                                            {

                                                                @for (var l = 0; l < Model.Questions[i].ChildQuestionsList[j].OptionsList.Count; l++)
                                                                {
                                                                    if (l == 0)
                                                                    {
                                                                        <div class="custom-control custom-radio mb-3 col-md-2">
                                                                            <input type="radio" asp-for="@Model.Questions[i].ChildQuestionsList[j].ResponseOptionId" id="@Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionId" value="@Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionId" class="custom-control-input" checked>
                                                                            <label class="custom-control-label" for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionId"> @Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionText</label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="custom-control custom-radio mb-3 col-md-2">
                                                                            <input type="radio" asp-for="@Model.Questions[i].ChildQuestionsList[j].ResponseOptionId" id="@Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionId" value="@Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionId" class="custom-control-input">
                                                                            <label class="custom-control-label" for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionId"> @Model.Questions[i].ChildQuestionsList[j].OptionsList[l].OptionText</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                            else if (Model.Questions[i].ChildQuestionsList[j].QuestionType == QuestionType.DateTimeType)
                                                            {
                                                                <div class="custom-control picker-1 col-md-6">
                                                                    <input class="form-control flatpickr flatpickr-input active calendar" asp-for="@Model.Questions[i].ChildQuestionsList[j].QuestionValue" type="text">

                                                                </div>

                                                            }
                                                            else if (Model.Questions[i].ChildQuestionsList[j].QuestionType == QuestionType.MultipleCheckType)
                                                            {
                                                                @for (var d = 0; d < Model.Questions[i].ChildQuestionsList[j].OptionsList.Count; d++)
                                                                {
                                                                    if (Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionValue == true)
                                                                    {
                                                                        <div class="n-chk custom-control picker-2 col-md-10 ml-5 mb-3">
                                                                            <input type="checkbox" asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionValue" checked />
                                                                            <label asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionValue">@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionText</label>
                                                                            <input type="hidden" asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionId" />
                                                                            <input type="hidden" asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionText" />
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="n-chk custom-control picker-2 col-md-10 ml-5 mb-3">
                                                                            <input type="checkbox" asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionValue" />
                                                                            <label asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionValue">@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionText</label>
                                                                            <input type="hidden" asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionId" />
                                                                            <input type="hidden" asp-for="@Model.Questions[i].ChildQuestionsList[j].OptionsList[d].OptionText" />
                                                                        </div>
                                                                    }

                                                                }

                                                            }
                                                            else
                                                            {
                                                                <div class="New_Input custom-control picker-2 col-md-10 ml-5 mb-3">
                                                                    <input type="text" asp-for="@Model.Questions[i].ChildQuestionsList[j].QuestionValue" class="form-control" autocomplete="off">
                                                                    <label class="control-label" for="@Model.Questions[i].ChildQuestionsList[j].QuestionValue"></label>
                                                                </div>
                                                            }




                                                            <div class="custom-control picker-2 col-md-10 ml-5 mb-3">
                                                                <div class="row">
                                                                    <label class="col-md-3" style="color: #3b3f5c; font-weight: 500;" for="@Model.Questions[i].ChildQuestionsList[j].Days">Days</label>
                                                                    <input type="text" asp-for="@Model.Questions[i].ChildQuestionsList[j].Days" class="form-control col-md-7 valid" onkeypress="return isNumber(event)" autocomplete="off">
                                                                </div>
                                                            </div>
                                                            <div class="custom-control picker-2 col-md-10 ml-5 mb-3">
                                                                <div class="row">
                                                                    <label class="col-md-3" style="color: #3b3f5c; font-weight: 500;" for="@Model.Questions[i].ChildQuestionsList[j].Cost">Cost</label>
                                                                    <input type="text" asp-for="@Model.Questions[i].ChildQuestionsList[j].Cost" class="form-control col-md-7 valid" onkeypress="return isNumber(event)" autocomplete="off">
                                                                </div>
                                                            </div>
                                                            <div class="custom-control picker-2 col-md-10 ml-5 mb-3">
                                                                <div class="row">
                                                                    <label class="col-md-3" style="color: #3b3f5c; font-weight: 500;" for="@Model.Questions[i].ChildQuestionsList[j].Requirement">Requirement</label>
                                                                    <input type="text" asp-for="@Model.Questions[i].ChildQuestionsList[j].Requirement" class="form-control col-md-7 valid" autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                }
                @if (Model.Methodology_Deliverablesdata != null)
                {
                    <div id="" style="width:100%" class="container">
                        <div class="col-md-12 qus-align">
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4  ml-3 text-left"><b>1.</b> <span>Scope Type Methodology </span></h6></div>
                                <input type="hidden" asp-for="@Model.Methodology_Deliverablesdata.Methodology_DeliverablesId " />

                                <div class="mb-3 col-md-5">
                                    <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy" class="form-control" autocomplete="off">
                                    <label class="control-label" for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy"></label>
                                    <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4  ml-3 text-left"><b>2.</b> <span>Scope Type Methodology FileName </span></h6></div>

                                <div class="mb-3  col-md-5">
                                    @if (Model.MethodologyeList.Count == 0)
                                    {
                                        <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy_FileName" class="form-control" autocomplete="off">
                                        <label class="control-label" for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy_FileName"></label>
                                        <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy_FileName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <select asp-for="@Model.Methodology_Deliverablesdata.MethodologyId" class="form-control">
                                            <option value="">-- Please Select --</option>
                                            @foreach (var option in Model.MethodologyeList)
                                            {
                                                <option value="@option.Id">@option.FileName</option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4 ml-3 text-left"><b>3.</b> <span>Scope Type SampleReport </span></h6></div>

                                <div class="mb-3 col-md-5">
                                    <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport" class="form-control" autocomplete="off">
                                    <label class="control-label" for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport"></label>
                                    <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4 ml-3 text-left"><b>4.</b> <span>Scope Type SampleReport FileName  </span></h6></div>

                                <div class="mb-3 col-md-5">
                                    @if (Model.SampleReportList.Count == 0)
                                    {
                                        <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport_FileName" class="form-control" autocomplete="off">
                                        <label class="control-label" for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport_FileName"></label>
                                        <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport_FileName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <select asp-for="@Model.Methodology_Deliverablesdata.MethodologyReportId" class="form-control">
                                            <option value="">-- Please Select --</option>
                                            @foreach (var option in Model.SampleReportList)
                                            {
                                                <option value="@option.Id">@option.FileName</option>

                                            }
                                        </select>
                                    }



                                </div>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div id="" style="width:100%" class="container">
                        <div class="col-md-12 qus-align">
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4  ml-3 text-left"><b>1.</b> <span>Scope Type Methodology </span></h6></div>
                                <input type="hidden" asp-for="@Model.Methodology_Deliverablesdata.Methodology_DeliverablesId " />

                                <div class="mb-3 col-md-5">
                                    <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy" class="form-control" autocomplete="off">
                                    <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4  ml-3 text-left"><b>2.</b> <span>Scope Type Methodology FileName </span></h6></div>

                                <div class="mb-3  col-md-5">
                                    @if (Model.MethodologyeList.Count == 0)
                                    {
                                        <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy_FileName" class="form-control" autocomplete="off">
                                        <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeMethodolgy_FileName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <select asp-for="@Model.Methodology_Deliverablesdata.MethodologyId" class="form-control">
                                            <option value="">-- Please Select --</option>
                                            @foreach (var option in Model.MethodologyeList)
                                            {
                                                <option value="@option.Id">@option.FileName</option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4 ml-3 text-left"><b>3.</b> <span>Scope Type SampleReport </span></h6></div>

                                <div class="mb-3 col-md-5">
                                    <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport" class="form-control" autocomplete="off">
                                    <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6"> <h6 class="mb-4 ml-3 text-left"><b>4.</b> <span>Scope Type SampleReport FileName  </span></h6></div>

                                <div class="mb-3 col-md-5">
                                    @if (Model.SampleReportList.Count == 0)
                                    {
                                        <input type="text" asp-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport_FileName" class="form-control" autocomplete="off">
                                        <span asp-validation-for="@Model.Methodology_Deliverablesdata.ScopeTypeSampleReport_FileName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <select asp-for="@Model.Methodology_Deliverablesdata.MethodologyReportId" class="form-control">
                                            <option value="">-- Please Select --</option>

                                            @foreach (var option in Model.SampleReportList)
                                            {
                                                <option value="@option.Id">@option.FileName</option>
                                            }
                                        </select>
                                    }



                                </div>
                            </div>

                        </div>
                    </div>

                }

            </div>
            @if (Model.Questions.Count != 0)
            {
                <div class="form-group float-right" id="finish">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            }


        </form>


    </div>
</div>

@*@if (Model.SampleReportData != null)
    {
        <input type="hidden" value="@Model.SampleReportData.FileName" id="SampleReportId" />
    }
    @if (Model.MethodologyeData != null)
    {
        <input type="hidden" value="@Model.MethodologyeData.FileName" id="MethodologyeId" />
    }*@


<div class="modal fade bd-example-modal-lg" id="QuesUpdateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="UpdateQuestions" asp-controller="Questionnaire" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionnaireId" id="QuestId" />
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionId" id="QuestionId" />
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.ChieldQuestionType" id="ChieldQuestionType" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.QuestionUpdateData.Name" class="control-label"></label>
                                <input asp-for="@Model.QuestionUpdateData.Name" class="form-control" id="QuestionName" />
                                <span asp-validation-for="@Model.QuestionUpdateData.Name" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input asp-for="@Model.QuestionUpdateData.isMandatory" type="checkbox" id="isMandatoryEdit" />
                    <label asp-for="@Model.QuestionUpdateData.isMandatory">isMandatory</label>
                    <button class="btn" data-dismiss="modal"> <em class="flaticon-cancel-12"></em> Discard</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="QuesAddNewModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AddNewQuestions" asp-controller="Questionnaire" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionnaireId" id="AddNewQuestId" />
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.CheckBoxCheck" id="MainCheckBoxCheck" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.QuestionUpdateData.Name" class="control-label"></label>
                                <input asp-for="@Model.QuestionUpdateData.Name" class="form-control" id="AddNewQuestionName" />
                                <span asp-validation-for="@Model.QuestionUpdateData.Name" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div id="MainsubmissionTable" style="display:none">
                        <div class="row" id="tableMainrow0">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="@Model.QuestionUpdateData.CheckboxText" class="control-label"></label>
                                    <input asp-for="@Model.QuestionUpdateData.CheckboxText" class="form-control" required />
                                    @*<span asp-validation-for="@Model.QuestionUpdateData.CheckboxText" class="text-danger"></span>*@

                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 35px;">
                                <button type="button" class="btn btn-primary" onclick="removeMainTr(0);">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="AddMainTable" style="display:none">
                        <div class="col-md-12">
                            <button id="Mainadd" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input asp-for="@Model.QuestionUpdateData.isMandatory" type="checkbox" id="isMandatory" value="" />
                    <label for="isMandatory">isMandatory</label>
                    <button type="button" id="AddMaincheckboxesId" onclick="AddMaincheckboxes();" class="btn btn-primary">Add check boxes</button>
                    <button class="btn" data-dismiss="modal"> <em class="flaticon-cancel-12"></em> Discard</button>
                    <button type="submit" class="btn btn-primary">Save</button>

                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="SubQuesAddNewModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AddNewSubQuestions" asp-controller="Questionnaire" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title">Add New sub Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionnaireId" id="SubQuestionnaireId" />
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionId" id="MainQuestId" />
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.CheckBoxCheck" id="CheckBoxCheck" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.QuestionUpdateData.Name" class="control-label"></label>
                                <input asp-for="@Model.QuestionUpdateData.Name" class="form-control" id="AddNewSubQuestionName" />
                                <span asp-validation-for="@Model.QuestionUpdateData.Name" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div id="submissionTable" style="display:none">
                        <div class="row" id="tablerow0">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="@Model.QuestionUpdateData.CheckboxText" class="control-label"></label>
                                    <input asp-for="@Model.QuestionUpdateData.CheckboxText" class="form-control" required />
                                    @*<span asp-validation-for="@Model.QuestionUpdateData.CheckboxText" class="text-danger"></span>*@

                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 35px;">
                                <button type="button" class="btn btn-primary" onclick="removeTr(0);">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="AddTable" style="display:none">
                        <div class="col-md-12">
                            <button id="add" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input asp-for="@Model.QuestionUpdateData.isMandatory" type="checkbox" id="isMandatorySub"  />
                    <label asp-for="@Model.QuestionUpdateData.isMandatory">isMandatory</label>
                    <button type="button" id="AddcheckboxesId" onclick="Addcheckboxes();" class="btn btn-primary">Add check boxes</button>
                    <button class="btn" data-dismiss="modal"> <em class="flaticon-cancel-12"></em> Discard</button>
                    <button type="submit" class="btn btn-primary">Save</button>

                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg" id="MulQuesUpdateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionnaireId" id="EditQuestionnaireId" />
                    <input type="hidden" asp-for="@Model.QuestionUpdateData.QuestionId" id="EditQuestionId" />
                    <input type="hidden" name="QuestionCheck" id="QuestionCheck" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.QuestionUpdateData.Name" class="control-label"></label>
                                <input asp-for="@Model.QuestionUpdateData.Name" class="form-control" id="EditQuestionName" />
                                <span asp-validation-for="@Model.QuestionUpdateData.Name" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div id="EditMainsubmissionTable">
                        @*<div class="row" id="EdittableMainrow0">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="@Model.QuestionUpdateData.OptionList[0].OptionText" class="control-label"></label>
                                        <input asp-for="@Model.QuestionUpdateData.OptionList[0].OptionText" class="form-control" required />
                                        <input type="hidden" asp-for="@Model.QuestionUpdateData.OptionList[0].OptionId" />


                                    </div>
                                </div>
                                <div class="col-md-4" style="margin-top: 35px;">
                                    <button type="button" class="btn btn-primary" onclick="removeMainTr(0);">Delete</button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row" id="EditMainTable">
                        <div class="col-md-12">
                            <button id="MainEditadd" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input asp-for="@Model.QuestionUpdateData.isMandatory" type="checkbox" id="isMandatoryEdit1" />
                    <label asp-for="@Model.QuestionUpdateData.isMandatory">isMandatory</label>
                    <button class="btn" data-dismiss="modal"> <em class="flaticon-cancel-12"></em> Discard</button>
                    <button type="button" id="orgdetbtn3" class="btn btn-primary">Save</button>

                </div>
            </form>

        </div>
    </div>
</div>

@*<div class="modal fade bd-example-modal-lg" id="QuesAddNewModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form  enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Question</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="AddNewOptionList">

                            <div class="col-md-12">
                                <div class="form-group optionchek">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control"  />
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">

                        <input type="button" id="remVulScanAddbtn" value="Add" class="btn btn-warning" />
                        <button type="button" id="SaveButton"class="btn btn-primary">Save</button>

                    </div>
                </form>

            </div>
        </div>
    </div>*@

<script src="~/lib/layout/plugins/flatpickr/flatpickr.js"></script>
<script src="~/lib/layout/plugins/flatpickr/custom-flatpickr.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#orgdetbtn3').click(function () {
            var check = true;
            var name = $("#EditQuestionName").val();
            var edit = $("#isMandatoryEdit1").val();
            $('#EditMainsubmissionTable').find('.TesttableRow').each(function () {
                var count = 0;
                var ic = 0;
                $(this).find('.TestCell').each(function () {
                    if (ic == 0) {
                        if ($(this).val() == "") {
                            check = false;
                        }
                        ic++;
                    }
                });
            });
            if (name=="") {
                swal({
                    type: 'error',
                    // title: 'Oops...',
                    text: 'All Fields Required ! ',
                    //  footer: '<a href>Why do I have this issue?</a>',
                    padding: '2em'
                })
            }
            else if (check == false) {
                //  alert("Please complete alteast one cell of each row ! ");
                swal({
                    type: 'error',
                    // title: 'Oops...',
                    text: 'All Fields Required ! ',
                    //  footer: '<a href>Why do I have this issue?</a>',
                    padding: '2em'
                })
            }
            else {
                var option = [];
                var QuestionnaireId = $("#EditQuestionnaireId").val();
                var QuestionId = $("#EditQuestionId").val();
                var QuestionName = $("#EditQuestionName").val();
                var isMandatory = $("#isMandatoryEdit1").val();
                var QuestionCheck = $("#QuestionCheck").val();
                $('#EditMainsubmissionTable').find('.TesttableRow').each(function () {
                   // var QuestionId = ($(this).find("input[type=hidden]").val());
                    var OptionValue = ($(this).find(".TestCell1").val());
                    var OptionId = ($(this).find(".TestCell2").val());
                    option.push({ "OptionText": OptionValue, "OptionId": OptionId });
                });

                var data = { "optionValue": option, "QuestionnaireId": QuestionnaireId, "QuestionId": QuestionId, "QuestionName": QuestionName, "Type": QuestionCheck, "isMandatory": isMandatory };
            $.ajax({
                  url: '@Url.Action("UpdateOptions", "Questionnaire")',
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                async:false,
                success: function (result) {
                    if (result == "Success") {
                        window.location = window.location.href;
                    }
                },

            });


            }
        });
        var counter3 = 0;
    function MulTypeBindQues(QuestionId, QuestioneerId, Name, Type, isMandatory) {
                document.getElementById('QuestionCheck').value = Type;
        var data = { "QuestionId": QuestionId, "QuestioneerId": QuestioneerId};
            document.getElementById('EditQuestionnaireId').value = QuestioneerId;
            document.getElementById('isMandatoryEdit1').value = isMandatory;
        document.getElementById('EditQuestionId').value = QuestionId;
        document.getElementById('EditQuestionName').value = Name;
        if (isMandatory == "true") {
            $('#isMandatoryEdit1').attr('checked', 'checked');
        } else {
            $('#isMandatoryEdit1').removeAttr('checked');
        }
              $.ajax({
                  url: '@Url.Action("GetAllMultipleCheckBox", "Questionnaire")',
                type: "get",
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                async:false,
                  success: function (result) {
                      console.log(result);
                      $("#EditMainsubmissionTable").empty();
                      for (var i = 0; i < result.optionList.length;i++ )
                      {
                          $(' <div class="row TesttableRow" id = "EdittableMainrow' + counter3 + '">' +
                              ' <div class= "col-md-8" > ' +
                              '<div class= "form-group" > ' +
                              '<label class="control-label" for="QuestionUpdateData.OptionList[' + i +'].OptionText">Checkbox Name</label>' +
                              '<input class="form-control TestCell1" type="text"  name="QuestionUpdateDataOptionText" value="' + result.optionList[i].optionText+'" required="required" />' +
                              '<input class="TestCell2" type="hidden" name="QuestionUpdateDataOptionId" value="' + result.optionList[i].optionId+'">'+
                              '</div></div>' +
                              '<div class="col-md-4" style="margin-top: 35px;">' +
                              '<button type="button" class="btn btn-primary" onclick="EditremoveMainTr(' + counter3 + ');">Delete</button>' +
                              ' </div>' +
                              ' </div>').appendTo('#EditMainsubmissionTable');
                          counter3++;
                      }

                },

            });
        }

        $('#MainEditadd').click(function () {
            $(' <div class="row TesttableRow" id = "EdittableMainrow' + counter3 + '">' +
                ' <div class= "col-md-8" > ' +
                '<div class= "form-group" > ' +
                '<label class="control-label">Checkbox Name</label>' +
                '<input class="form-control TestCell1" type="text" name="QuestionUpdateDataOptionText" value="" required="required" />' +
                '<input class="TestCell2" type="hidden" name="QuestionUpdateDataOptionId" value="">' +
                '</div></div>' +
                '<div class="col-md-4" style="margin-top: 35px;">' +
                '<button type="button" class="btn btn-primary" onclick="EditremoveMainTr(' + counter3 + ');">Delete</button>' +
                ' </div>' +
                ' </div>').appendTo('#EditMainsubmissionTable');
            counter3++;
            return false;
        });
        function EditremoveMainTr(index) {
            if (counter3 > 1) {
                $('#EdittableMainrow' + index).remove();
                counter3--;
            }
            return false;
        }

        $(document).ready(function () {
            var x = document.getElementById("mySelect").value;
            if (x == 'Edit') {
                document.querySelectorAll('.ActionMode').forEach(function (el) {
                    el.style.display = 'block';
                });
            } else {
                document.querySelectorAll('.ActionMode').forEach(function (el) {
                    el.style.display = 'none';
                });
            }
            $('#remVulScanAddbtn').click(function () {
                remVulScanAdd();
            });

            $('#SaveButton').click(function () {
                SaveVulScanAdd();
            });

            const calendars = flatpickr(".calendar", {
                defaultDate: 'today'
            });











        });
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function BothMode() {
            var x = document.getElementById("mySelect").value;
            if (x == 'Edit') {
                document.querySelectorAll('.ActionMode').forEach(function (el) {
                    el.style.display = 'block';
                });
            } else {
                document.querySelectorAll('.ActionMode').forEach(function (el) {
                    el.style.display = 'none';
                });
            }
        }

    function BindQues(QuestionId, QuestioneerId, Name, ChieldQuestion, isMandatory) {
            document.getElementById('QuestId').value = QuestioneerId;
            document.getElementById('QuestionId').value = QuestionId;
            document.getElementById('QuestionName').value = Name;
            document.getElementById('isMandatoryEdit').value = isMandatory;
            document.getElementById('ChieldQuestionType').value = ChieldQuestion;
            console.log(isMandatory);
            if (isMandatory == "true") {
                $('#isMandatoryEdit').attr('checked', 'checked');
            } else {
                $('#isMandatoryEdit').removeAttr('checked');
            }
            return true;
        }
        function BindNewQues(QuestioneerId) {
            document.getElementById('AddNewQuestId').value = QuestioneerId;
        }

        function BindSubQues(QuestionId, QuestioneerId) {
            document.getElementById('SubQuestionnaireId').value = QuestioneerId;
            document.getElementById('MainQuestId').value = QuestionId;
            return true;
        }



        function remVulScanAdd() {
            var elementCount = $('#AddNewOptionList .form-control').length;
            $('#AddNewOptionList').append(' <div class="col-md-12"><div class="form-group optionchek"><label class="control-label" >Name</label><input class="form-control"  type="text" value=""></div></div>');

        }
        function SaveVulScanAdd() {
            var option = [];
            $('#AddNewOptionList').each(function () {
                $(this).find('.optionchek').each(function () {
                    var responseOption = ($(this).find("input[type=text]").val());

                    option.push({ "Value": responseOption, });
                });

            });

            console.log(option);

    }

    var counter1 = 1;
    $(function () {
        $('#Mainadd').click(function () {
            $(' <div class="row" id = "tableMainrow' + counter1 + '">' +
                ' <div class= "col-md-8" > ' +
                '<div class= "form-group" > ' +
                '<label class="control-label" for="QuestionUpdateData_CheckboxText">Checkbox Name</label>' +
                '<input class="form-control" type="text" id="QuestionUpdateData_CheckboxText" name="QuestionUpdateData.CheckboxText" required="required" />' +
                '</div></div>' +
                '<div class="col-md-4" style="margin-top: 35px;">' +
                '<button type="button" class="btn btn-primary" onclick="removeMainTr(' + counter1 + ');">Delete</button>' +
                ' </div>' +
                ' </div>').appendTo('#MainsubmissionTable');
            counter1++;
            return false;
        });
    });
    function removeMainTr(index) {
        if (counter1 > 1) {
            $('#tableMainrow' + index).remove();
            counter1--;
        }
        return false;
    }
    function AddMaincheckboxes() {
        var a = $("#AddMaincheckboxesId").text();
        if (a == "Add check boxes") {
            $("#AddMainTable").css("display", "block");
            $("#MainsubmissionTable").css("display", "block");
            $("#AddMaincheckboxesId").text("Remove check boxes");
            $("#MainCheckBoxCheck").val(true);
        } else {
            $("#AddMainTable").css("display", "none");
            $("#MainsubmissionTable").css("display", "none");
            $("#AddMaincheckboxesId").text("Add check boxes");
            $("#MainCheckBoxCheck").val(false);
        }

    }


        var counter = 1;
        $(function () {
            $('#add').click(function () {
                $(' <div class="row" id = "tablerow' + counter + '">'+
                   ' <div class= "col-md-8" > '+
                    '<div class= "form-group" > '+
                    '<label class="control-label" for="QuestionUpdateData_CheckboxText">Checkbox Name</label>'+
                    '<input class="form-control" type="text" id="QuestionUpdateData_CheckboxText" name="QuestionUpdateData.CheckboxText" required="required" />'+
                     '</div></div>'+
                    '<div class="col-md-4" style="margin-top: 35px;">' +
                    '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter + ');">Delete</button>' +
                    ' </div>' +
                    ' </div>').appendTo('#submissionTable');
                counter++;
                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        }

        function Addcheckboxes() {
            var a = $("#AddcheckboxesId").text();
            if (a == "Add check boxes") {
                $("#AddTable").css("display", "block");
                $("#submissionTable").css("display", "block");
                $("#AddcheckboxesId").text("Remove check boxes");
                $("#CheckBoxCheck").val(true);
            } else {
                $("#AddTable").css("display", "none");
                $("#submissionTable").css("display", "none");
                $("#AddcheckboxesId").text("Add check boxes");
                $("#CheckBoxCheck").val(false);
            }

        }
        $(function () {
            $(".draggable").draggable();

            $(".droppable, #droppable-inner").droppable({
                hoverClass: "ui-state-active",
                drop: function (event, ui) {
                    var DraggId = ui.draggable.attr('id');
                    var droppedId = $(this).attr('id');
                    var questioneerId = $("#QuestionnaireId").val();
                    if (DraggId == droppedId) {
                        window.location = window.location.href;
                        return false;
                    }
                    //console.log($(this).attr('id'));
                    //console.log(ui);
                   // alert(ui.draggable.attr('id') + ' was dropped from ' + $(this).attr('id'));
                  //  $(this).addClass("ui-state-highlight");
                    // Move the dragged element into its new container
                 //   ui.draggable.attr('style', 'position:relative');
                   // $(this).append(ui.draggable);

                  var data = { "DraggId": DraggId, "droppedId": droppedId, "questioneerId": questioneerId };
                    $.ajax({
                  url: '@Url.Action("DragAndDropQuestion", "Questionnaire")',
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                async:false,
                success: function (result) {
                    if (result == "Success") {
                        window.location = window.location.href;
                    }
                    else {
                        window.location = window.location.href;
                    }
                },

            });
                    return false;
                }
            });
        });
    $('input[id="isMandatory"]').click(function () {
        if ($(this).is(':checked')) {
            $("#isMandatory").attr("value", "true");
        }
        else {
            $("#isMandatory").attr("value", "false");
        }
    });
    $('input[id="isMandatoryEdit"]').click(function () {
        if ($(this).is(':checked')) {
            //alert("is checked");
            $("#isMandatoryEdit").attr("value", "true");
        }
        else {
            $("#isMandatoryEdit").attr("value", "false");
        }
    });

    $('input[name="sub"]').click(function () {
        if ($(this).is(':checked')) {
            // alert("is checked");
            $("#ismandatorysub").attr("value", "true");
        }
        else {
            $("#ismandatorysub").attr("value", "false");
        }
    });
    $('input[id="isMandatoryEdit1"]').click(function () {
        if ($(this).is(':checked')) {
            // alert("is checked");
            $("#isMandatoryEdit1").attr("value", "true");
        } else {
            $("#isMandatoryEdit1").attr("value", "false");
        }
    });

</script>
}
